---
import type { SlideModalType as Props } from '~/types';
import Image from '../common/Image.astro'

const { 
  images = [],
} = Astro.props;
---

<div id="slideModal" class="hidden fixed inset-0 bg-black/70 backdrop-blur-sm flex items-center justify-center z-50 transition-all">
    

    <div class="relative w-full h-screen max-w-6xl mx-auto my-[50%] md:my-[5%] flex items-center justify-center">
        <span class="absolute top-[2%] right-[2%] text-white drop-shadow-md text-3xl cursor-pointer z-20" onclick="closeModal()">×</span>
        <a class="absolute top-[10%] md:top-[30%] lg:top-[40%] right-[2%] text-white drop-shadow-md text-3xl cursor-pointer z-20" onclick="plusSlides(-1)">❮</a>
        <a class="absolute top-[10%] md:top-[30%] lg:top-[40%] left-[2%] text-white drop-shadow-md text-3xl cursor-pointer z-20" onclick="plusSlides(1)">❯</a>

        {images.map((image) => (
            <div class="slides slides-portfolio flex items-center justify-center w-full h-full transition-transform duration-500" id="portfolio">
                <Image
                    class="object-contain max-w-full max-h-full transition-all duration-500"
                    width={image.src.width}
                    height={image.src.height}

                    {...image}
                />
            </div>
        ))}

    </div>
</div>
