---
import type { SlideModalType as Props } from '~/types';
import Image from '../common/Image.astro'

const { 
  images = [],
} = Astro.props;
---

<div id="slideModal" class="modal hidden fixed top-0 left-0 w-full h-full bg-black/80 z-20">
    <!-- <span class="close cursor text-white text-3xl fixed top-[50%] lg:mt-[-30%] max-xl:mt-[-38%] xl:mt-[-23%] lg:left-[87%] max-xl:left-[95%] xl:left-[78%] z-30 cursor-pointer max-md:hidden" onclick="closeModal()">×</span> -->
    <span class="close cursor text-white text-3xl fixed top-36 max-md:top-[30%] left-[88%] z-30 cursor-pointer" onclick="closeModal()">×</span>

    <div class="overflow-x-hidden fixed top-36 max-md:top-[30%] right-0 left-0 z-20 mx-auto justify-center items-center sm:w-[80%] overflow-hidden w-full max-h-[80%] h-full">
        {images.map((image) => (
            <div class="slides slides-portfolio" id="portfolio">
                <Image
                    class="absolute inset-0 w-full h-fit justify-center flex"
                    width={image.src.width}
                    height={image.src.height}

                    {...image}
                />
            </div>
        ))}

        <a class="prev fixed top-[50%] left-[87%] z-50 cursor-pointer text-white text-3xl max-md:hidden" onclick="plusSlides(-1)">❮</a>
        <a class="next fixed top-[50%] right-[87%] z-50 cursor-pointer text-white text-3xl max-md:hidden" onclick="plusSlides(1)">❯</a>
    </div>
</div>
